services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=payload
      - POSTGRES_PASSWORD=payload_password
      - POSTGRES_DB=payload_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
